
<div *ngIf="grad">
    <div>
        <label>Name: </label> {{grad.name}}
    </div>
    <div>
        <label>College: </label> {{grad.college}}
    </div>
    <div>
        <label>Location Preference : </label> {{grad.location}}
    </div>
    <div>
        <label>Date Of Joining : </label> {{grad.joiningDate}}
    </div>
    <div>
        <label>Batch : </label> {{grad.batch}}
    </div>
    <div>
        <label>Date Of Joining Reconfirmation : </label> {{grad.dateOfJoiningReconfirmation}}
    </div>
    <div>
        <label>Remarks : </label> {{grad.remarks}}
    </div>

    <div>
        <label>Course : </label> {{grad.course}}
    </div>
    <div>
        <label>Branch : </label> {{grad.branch}}
    </div>
    <div>
        <label>Current Percent(%) or CGPA : </label> {{grad.cgpa}}
    </div>
    <div>
        <label>Personal Contact Number : </label> {{grad.personalNumber}}
    </div>
    <div>
        <label>Personal Email ID: </label> {{grad.personalEmail}}
    </div>
    <div>
        <label>Date of Birth : </label> {{grad.dob}}
    </div>
    <div>
        <label>NativePlace: </label> {{grad.nativePlace}}
    </div>
    <div>
        <label>Current Place : </label> {{grad.currentPlace}}
    </div>
    <div>
        <label>Parent Contact: </label> {{grad.parentContact}}
    </div>
    <div>
        <label>Parent Postal Address: </label> {{grad.parentAddress}}
    </div>
    

    <!-- <span class="button is-small btn-primary" *ngIf='grad.active' (click)='updateActive(false)'>Inactive</span>

    <span class="button is-small btn-primary" *ngIf='!employee.active' (click)='updateActive(true)'>Active</span>

    <span class="button is-small btn-danger" (click)='deleteGrad(grad.emailId)'>Delete</span> -->

    <hr/>
</div>