
<div *ngIf='isLoaded'>
        <div>
            <label>Name: </label> {{graduate.name}}
        </div>
        <div>
            <label>College: </label> {{graduate.college}}
        </div>
        <div>
            <label>Location Preference : </label> {{graduate.location}}
        </div>
        <div>
            <label>Date Of Joining : </label> {{graduate.joiningDate}}
        </div>
        <div>
            <label>Batch : </label> {{graduate.batch}}
        </div>
        <div>
            <label>Date Of Joining Reconfirmation : </label> {{graduate.dateOfJoiningReconfirmation}}
        </div>
        <div>
            <label>Remarks : </label> {{graduate.remarks}}
        </div>
    
        <div>
            <label>Course : </label> {{graduate.course}}
        </div>
        <div>
            <label>Branch : </label> {{graduate.branch}}
        </div>
        <div>
            <label>Current Percent(%) or CGPA : </label> {{graduate.cgpa}}
        </div>
        <div>
            <label>Personal Contact Number : </label> {{graduate.personalNumber}}
        </div>
        <div>
            <label>Personal Email ID: </label> {{graduate.personalEmail}}
        </div>
        <div>
            <label>Date of Birth : </label> {{graduate.dob}}
        </div>
        <div>
            <label>NativePlace: </label> {{graduate.nativePlace}}
        </div>
        <div>
            <label>Current Place : </label> {{graduate.currentPlace}}
        </div>
        <div>
            <label>Parent Contact: </label> {{graduate.parentContact}}
        </div>
        <div>
            <label>Parent Postal Address: </label> {{graduate.parentAddress}}
        </div>
        
    
        <!-- <span class="button is-small btn-primary" *ngIf='graduate.active' (click)='updateActive(false)'>Inactive</span>
    
        <span class="button is-small btn-primary" *ngIf='!employee.active' (click)='updateActive(true)'>Active</span>
    
        <span class="button is-small btn-danger" (click)='deletegraduate(graduate.emailId)'>Delete</span> -->
    
        <hr/>
    </div>