<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add Graduate</strong>
    </h5>

    <!--Card content-->

    <div class="card-body px-lg-5">

        <!-- Form -->
        <form (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="employeeCode" class="col-sm-2 col-form-label">Employee Code</label>
                <div class="col-sm-10">
                    <input placeholder="Employee Code" type="text" class="form-control" id="employeeCode" required
                    [(ngModel)]="grad.employeeCode" name="employeeCode">
                </div>
            </div>  

            <!-- Name -->
            <div class="form-group row">
                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input placeholder="Name" type="text" class="form-control" id="Name" required [(ngModel)]="grad.name"
                        name="Name">
                </div>
            </div>

            <!-- Email Id -->
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input placeholder="Email" type="email" class="form-control" id="email" required
                    [(ngModel)]="grad.email" name="email">
                </div>
            </div>
            <!-- College -->
            <div class="form-group row">
                <label for="college" class="col-sm-2 col-form-label">College</label>
                <div class="col-sm-10">
                    <input placeholder="College" type="text" class="form-control" id="college" required
                    [(ngModel)]="grad.college" name="college">
                </div>
            </div>
            <!-- Location Prefernece -->
            <div class="form-group row">
                <label for="locpreference" class="col-sm-2 col-form-label">Location Preference</label>
                <div class="col-sm-10">
                    <input placeholder="Location Preference" type="text" class="form-control" id="locpreference"
                        required [(ngModel)]="grad.location" name="locpreference">
                </div>
            </div>
            <!-- Date of Joining -->
            <div class="form-group row">
                <label for="doj" class="col-sm-2 col-form-label">Date of Joining</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Joining" type="date" class="form-control" id="doj" required
                    [(ngModel)]="grad.joiningDate" name="doj">
                </div>
            </div>
            <!-- Batch -->
            <div class="form-group row">
                <label for="batch" class="col-sm-2 col-form-label">Batch</label>
                <div class="col-sm-10">
                    <input placeholder="Batch" type="text" class="form-control" id="batch" required [(ngModel)]="grad.batch"
                        name="batch">
                </div>
            </div>
            <!-- Date of Joining(Reconfirmation -Y/N) -->
            <div class="form-group row">
                <label for="dojR" class="col-sm-2 col-form-label">DOJ(Reconfirmation-Y/N)</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Joining(Reconfirmation-Y/N)" type="text" class="form-control" id="dojR"
                        required [(ngModel)]="grad.dateOfJoiningReconfirmation" name="dojR">
                </div>
            </div>
            <!-- Course -->
            <div class="form-group row">
                <label for="course" class="col-sm-2 col-form-label">Course</label>
                <div class="col-sm-10">
                    <input placeholder="Course" type="text" class="form-control" id="course" required
                    [(ngModel)]="grad.course" name="course">
                </div>
            </div>
            <!-- Branch -->
            <div class="form-group row">
                <label for="branch" class="col-sm-2 col-form-label">Branch</label>
                <div class="col-sm-10">
                    <input placeholder="Branch" type="text" class="form-control" id="branch" required
                    [(ngModel)]="grad.branch" name="branch">
                </div>
            </div>
            <!-- Current % -->
            <div class="form-group row">
                <label for="currentPercent" class="col-sm-2 col-form-label">Current % or CGPA</label>
                <div class="col-sm-10">
                    <input placeholder="Current % or CGPA" type="number" class="form-control" id="currentPercent"
                        required [(ngModel)]="grad.cgpa" name="currentPercent">
                </div>
            </div>
            <!-- Personal Contact Number -->
            <div class="form-group row">
                <label for="personContact" class="col-sm-2 col-form-label">Personal Contact Number</label>
                <div class="col-sm-10">
                    <input placeholder="Personal Contact Number" type="number" class="form-control" id="personContact"
                        required [(ngModel)]="grad.personalNumber" name="personContact">
                </div>
            </div>
            <!-- Personal Email Id -->
            <div class="form-group row">
                <label for="personalemail" class="col-sm-2 col-form-label">Personal Email</label>
                <div class="col-sm-10">
                    <input placeholder="Personal Email" type="email" class="form-control" id="personalemail" required
                    [(ngModel)]="grad.personalEmail" name="email">
                </div>
            </div>
            <!-- Date of Birth -->
            <div class="form-group row">
                <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Birth" type="date" class="form-control" id="dob" required
                    [(ngModel)]="grad.dob" name="dob">
                </div>
            </div>
            <!-- Native Place  -->
            <div class="form-group row">
                <label for="nativepPlace" class="col-sm-2 col-form-label">Native Place</label>
                <div class="col-sm-10">
                    <input placeholder="Native Place" type="text" class="form-control" id="nativepPlace" required
                    [(ngModel)]="grad.nativepPlace" name="nativepPlace">
                </div>
            </div>

            <!-- Current Place  -->
            <div class="form-group row">
                <label for="currentPlace" class="col-sm-2 col-form-label">Current Place</label>
                <div class="col-sm-10">
                    <input placeholder="Current Place" type="text" class="form-control" id="currentPlace" required
                    [(ngModel)]="grad.currentPlace" name="currentPlace">
                </div>
            </div>
            <!-- Parent's Contact Number -->
            <div class="form-group row">
                <label for="parentContact" class="col-sm-2 col-form-label">Parent's Contact Number</label>
                <div class="col-sm-10">
                    <input placeholder="Parent's Contact Number" type="number" class="form-control" id="parentContact"
                        required ngModel="grad.parentContact" name="parentContact">
                </div>
            </div>
            <!-- Parent's Postal Address -->
            <div class="form-group row">
                <label for="parentAddress" class="col-sm-2 col-form-label">Parent's Postal Address</label>
                <div class="col-sm-10">
                    <input placeholder="Parent's Postal Address" type="text" class="form-control" id="parentAddress"
                        required [(ngModel)]="grad.parentAddress" name="parentAddress">
                </div>
            </div>

            <div class="form-group row">
                <label for="cvLink" class="col-sm-2 col-form-label">CV Link</label>
                <div class="col-sm-10">
                    <input placeholder="CV Link" type="text" class="form-control" id="cvLink" required
                    [(ngModel)]="grad.cvLink" name="cvLink">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
        <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
        </div>