
<div class="card">
    <h3 class="card-header info-color white-text text-center py-4" style="background-color: rgb(230, 234, 240);">
        <strong>Add/Edit Grad</strong>
    </h3>

    <!--Card content-->

    <div class="card-body px-lg-5">

        <!-- Form -->
        <form (ngSubmit)="onSubmit()">

            <!-- Employee Code -->
            <div class="form-group row">
                <label for="employeeCode" class="col-sm-2 col-form-label">Employee Code</label>
                <div class="col-sm-10">
                    <input placeholder="Employee Code" type="text" class="form-control" id="employeeCode"
                        ngNativeValidate [(ngModel)]="grad.employeeCode" name="employeeCode" [readonly]="!adminRole"/>
                </div>
            </div>

            <!-- Name -->
            <div class="form-group row">
                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input placeholder="Name" type="text" class="form-control" id="Name" ngNativeValidate
                        [(ngModel)]="grad.name" name="Name" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>

            <!-- Email Id -->
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input placeholder="Email" type="email" class="form-control" id="email" ngNativeValidate
                        [(ngModel)]="grad.email" name="email" [readonly]="!adminRole&&!gradRole" />
                </div>
            </div>
            <!-- College -->
            <div class="form-group row">
                <label for="college" class="col-sm-2 col-form-label">College</label>
                <div class="col-sm-10">
                    <input placeholder="College" type="text" class="form-control" id="college" ngNativeValidate
                        [(ngModel)]="grad.college" name="college" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Location Prefernece -->
            <div class="form-group row">
                <label for="locpreference" class="col-sm-2 col-form-label">Location Preference</label>
                <div class="col-sm-10">
                    <input placeholder="Location Preference" type="text" class="form-control" id="locpreference"
                        ngNativeValidate [(ngModel)]="grad.location" name="locpreference" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Date of Joining -->
            <div class="form-group row">
                <label for="doj" class="col-sm-2 col-form-label">Date of Joining</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Joining" type="date" class="form-control" id="doj" ngNativeValidate
                        [(ngModel)]="grad.joiningDate" name="doj" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Batch -->
            <div class="form-group row">
                <label for="batch" class="col-sm-2 col-form-label">Batch</label>
                <div class="col-sm-10">
                    <input placeholder="Batch" type="text" class="form-control" id="batch" [(ngModel)]="grad.batch"
                        name="batch" [readonly]="!adminRole" />
                </div>
            </div>
            <!-- Date of Joining(Reconfirmation -Y/N) -->
            <div class="form-group row">
                <label for="dojR" class="col-sm-2 col-form-label">DOJ(Reconfirmation-Y/N)</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Joining(Reconfirmation-Y/N)" type="text" class="form-control" id="dojR"
                        [(ngModel)]="grad.dateOfJoiningReconfirmation" name="dojR" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Course -->
            <div class="form-group row">
                <label for="course" class="col-sm-2 col-form-label">Course</label>
                <div class="col-sm-10">
                    <input placeholder="Course" type="text" class="form-control" id="course" ngNativeValidate
                        [(ngModel)]="grad.course" name="course"[readonly]="!adminRole&&!gradRole" />
                </div>
            </div>
            <!-- Branch -->
            <div class="form-group row">
                <label for="branch" class="col-sm-2 col-form-label">Branch</label>
                <div class="col-sm-10">
                    <input placeholder="Branch" type="text" class="form-control" id="branch" ngNativeValidate
                        [(ngModel)]="grad.branch" name="branch" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Current % -->
            <div class="form-group row">
                <label for="currentPercent" class="col-sm-2 col-form-label">Current % or CGPA</label>
                <div class="col-sm-10">
                    <input placeholder="Current % or CGPA" type="number" class="form-control" id="currentPercent"
                        ngNativeValidate [(ngModel)]="grad.cgpa" name="currentPercent" [readonly]="!adminRole&&!gradRole" />
                </div>
            </div>
            <!-- Personal Contact Number -->
            <div class="form-group row">
                <label for="personContact" class="col-sm-2 col-form-label">Personal Contact Number</label>
                <div class="col-sm-10">
                    <input placeholder="Personal Contact Number" type="number" class="form-control" id="personContact"
                        ngNativeValidate [(ngModel)]="grad.personalNumber" name="personContact" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Personal Email Id -->
            <div class="form-group row">
                <label for="personalemail" class="col-sm-2 col-form-label">Personal Email</label>
                <div class="col-sm-10">
                    <input placeholder="Personal Email" type="email" class="form-control" id="personalemail"
                        ngNativeValidate [(ngModel)]="grad.personalEmail" name="email" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Date of Birth -->
            <div class="form-group row">
                <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-10">
                    <input placeholder="Date of Birth" type="date" class="form-control" id="dob" ngNativeValidate
                        [(ngModel)]="grad.dob" name="dob" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Native Place  -->
            <div class="form-group row">
                <label for="nativepPlace" class="col-sm-2 col-form-label">Native Place</label>
                <div class="col-sm-10">
                    <input placeholder="Native Place" type="text" class="form-control" id="nativePlace"
                        [(ngModel)]="grad.nativePlace" name="nativePlace" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>

            <!-- Current Place  -->
            <div class="form-group row">
                <label for="currentPlace" class="col-sm-2 col-form-label">Current Place</label>
                <div class="col-sm-10">
                    <input placeholder="Current Place" type="text" class="form-control" id="currentPlace"
                        ngNativeValidate [(ngModel)]="grad.currentPlace" name="currentPlace" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Parent's Contact Number -->
            <div class="form-group row">
                <label for="parentContact" class="col-sm-2 col-form-label">Parent's Contact Number</label>
                <div class="col-sm-10">
                    <input placeholder="Parent's Contact Number" type="number" class="form-control" id="parentContact"
                        ngModel="grad.parentContact" name="parentContact" [readonly]="!adminRole&&!gradRole"/>
                </div>
            </div>
            <!-- Parent's Postal Address -->
            <div class="form-group row">
                <label for="parentAddress" class="col-sm-2 col-form-label">Parent's Postal Address</label>
                <div class="col-sm-10">
                    <input placeholder="Parent's Postal Address" type="text" class="form-control" id="parentAddress"
                        [(ngModel)]="grad.parentAddress" name="parentAddress" [readonly]="!adminRole&&!gradRole" />
                </div>
            </div>

            <div class="form-group row">
                <label for="cvLink" class="col-sm-2 col-form-label">CV Link</label>
                <div class="col-sm-10">
                    <input placeholder="CV Link" type="text" class="form-control" id="cvLink" ngNativeValidate
                        [(ngModel)]="grad.cvLink" name="cvLink" [readonly]="!adminRole&&!gradRole" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
        <div class="alert alert-success" role="alert" [hidden]="!submitted">
            You submitted successfully!
        </div>