<!-- 
  <form formGroup="exampleForm">
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label" formControlName="firstName">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <label class="form-check-label"><input type="checkbox"> Remember me</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form> -->

<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Add Graduate</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <form (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">

            <!-- Name -->
            <div class="md-form mt-3">
                <input placeholder="Name" type="text" class="form-control" id="Name" required ngModel="grad.name"
                    name="Name">
            </div>
            <!-- College -->
            <div class="md-form mt-3">
                <input placeholder="College" type="text" class="form-control" id="college" required
                    ngModel="grad.college" name="college">
            </div>
            <!-- Location Prefernece -->
            <div class="md-form mt-3">
                <input placeholder="Location Preference" type="text" class="form-control" id="locpreference" required
                    ngModel="grad.locpreference" name="locpreference">
            </div>
            <!-- Date of Joining -->
            <div class="md-form mt-3">
                <input placeholder="Date of Joining" type="date" class="form-control" id="doj" required
                    ngModel="grad.doj" name="doj">
            </div>
            <!-- Batch -->
            <div class="md-form mt-3">
                <input placeholder="Batch" type="text" class="form-control" id="batch" required ngModel="grad.batch"
                    name="batch">
            </div>
            <!-- Date of Joining(Reconfirmation -Y/N) -->
            <div class="md-form mt-3">
                <input placeholder="Date of Joining(Reconfirmation-Y/N)" type="text" class="form-control" id="dojR"
                    required ngModel="grad.doj_Reconfirmation" name="dojR">
            </div>
            <!-- Course -->
            <div class="md-form mt-3">
                <input placeholder="Course" type="text" class="form-control" id="course" required ngModel="grad.course"
                    name="course">
            </div>
            <!-- Branch -->
            <div class="md-form mt-3">
                <input placeholder="Branch" type="text" class="form-control" id="branch" required ngModel="grad.branch"
                    name="branch">
            </div>
            <!-- Current % -->
            <div class="md-form mt-3">
                <input placeholder="Current %" type="number" class="form-control" id="currentPercent" required
                    ngModel="grad.currentPercent" name="currentPercent">
            </div>
            <!-- Personal Contact Number -->
            <div class="md-form mt-3">
                <input placeholder="Personal Contact Number" type="number" class="form-control" id="personContact"
                    required ngModel="grad.personContact" name="personContact">
            </div>
            <!-- Email Id -->
            <div class="md-form mt-3">
                <input placeholder="Email" type="email" class="form-control" id="email" required ngModel="grad.emailId"
                    name="email">
            </div>
            <!-- Date of Birth -->
            <div class="md-form mt-3">
                <input placeholder="Date of Birth" type="date" class="form-control" id="dob" required ngModel="grad.dob"
                    name="dob">
            </div>
            <!-- Native Place  -->
            <div class="md-form mt-3">
                <input placeholder="Native Place" type="text" class="form-control" id="nativepPlace" required
                    ngModel="grad.nativepPlace" name="nativepPlace">
            </div>

            <!-- Current Place  -->
            <div class="md-form mt-3">
                <input placeholder="Current Place" type="text" class="form-control" id="currentPlace" required
                    ngModel="grad.currentPlace" name="currentPlace">
            </div>
            <!-- Parent's Contact Number -->
            <div class="md-form mt-3">
                <input placeholder="Parent's Contact Number" type="number" class="form-control" id="parentContact"
                    required ngModel="grad.parentContact" name="parentContact">
            </div>
            <!-- Parent's Postal Address -->
            <div class="md-form mt-3">
                <input placeholder="Parent's Postal Address" type="text" class="form-control" id="postalAddress"
                    required ngModel="grad.postalAddress" name="postalAddress">
            </div>


            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div [hidden]="!submitted">
                <h4>You submitted successfully!</h4>
            </div>