<!-- <p>showgrads works!</p> -->

<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Graduates</h1>
        </div>

        <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">

        <div class="panel-body" width=vw; height=vh;>

            <!-- <ag-grid-angular 
                style="width: 100%;" 
                domLayout='autoHeight'
                class="ag-theme-balham"
                [rowData]="rowData" 
                [columnDefs]="columnDefs"
                >
            </ag-grid-angular> -->
            <table class="table table-striped table-bordered" matSort (matSortChange)="sortData($event)">
                <thead class="thead-dark">
                    <tr>
                        <th mat-sort-header="Employee Code">Employee Code</th>
                        <th mat-sort-header="Name">Name</th>
                        <th>Email</th>
                        <th mat-sort-header="College">College</th>
                        <th mat-sort-header="Location ">Location </th>
                        <th mat-sort-header="Date of Joining">Date of Joining</th>
                        <th>Batch</th>
                        <th>DoJ Reconfirmation(Y/N)</th>
                        <th>Remarks</th>
                        <th>Course</th>
                        <th>Branch</th>
                        <th mat-sort-header="CGPA">CGPA</th>
                        <th>Personal Contact</th>
                        <th>Personal Email</th>
                        <th mat-sort-header="DoB">DoB</th>
                        <th>Native Place</th>
                        <th mat-sort-header="Current Place">Current Place</th>
                        <th>Parent Contact</th>
                        <th>Postal Address</th>
                        <th>CV Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let g of (sortedGrads | searchByName: searchText)" scope="row">
                        <td><a [routerLink]="['/grads',g.id]">{{g.employeeCode}}</a></td>
                        <td>{{g.name}}</td>
                        <td>{{g.email}}</td>
                        <td>{{g.college}}</td>
                        <td>{{g.location}}</td>
                        <td>{{g.joiningDate}}</td>
                        <td>{{g.batch}}</td>
                        <td>{{g.dateOfJoiningReconfirmation}}</td>
                        <td>{{g.remarks}}</td>
                        <td>{{g.course}}</td>
                        <td>{{g.branch}}</td>
                        <td>{{g.cgpa}}</td>
                        <td>{{g.personalNumber}}</td>
                        <td>{{g.personalEmail}}</td>
                        <td>{{g.dob}}</td>
                        <td>{{g.nativepPlace}}</td>
                        <td>{{g.currentPlace}}</td>
                        <td>{{g.parentContact}}</td>
                        <td>{{g.postalAddress}}</td>
                        <td>{{g.cvLink}}</td>
                        <td><button (click)="deleteGrad(g.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>