body{
    background-color: rgb(230, 234, 240);
    font-family: 'Times New Roman', Times, serif;
    /* overflow: scroll; */
}
.tableFixHead          { overflow-y: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

#searchByName, #searchById {
    width: 18%;
    padding: 3px 3px;
    margin: 5px 3px;
    box-sizing:border-box;
    border: 4px ;
    border-radius: 5px; 
}